<!DOCTYPE html>
<html>
<head>
    <title> Welcome! </title>
    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/logout.js"></script>
    <script src="/index.js"></script>
</head>
<body>
    <h1> Workout App </h1>
    <a href="/workouts/new" id="createWorkout"> Create Workout </a>
    <a href="/workouts" id="viewWorkouts"> View Past Workouts </a>
    <select id="workoutDropdown">
    	<% if (workouts) { %>	
					<% workouts.forEach(function(workout, index) { %>
						<!-- Dynamically add dropdown options getting the workout's index as the value, and the name as its label -->
						<option value=<%= JSON.stringify(index) %>> <%= workout.name %></option>
					<% }); %>
			<% } %>
    </select>
    <button id="newSession"> Start Workout </button>
    <button id="logoutButton"> logout </button>
</body>
</html>