<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0;">
  <title> Login </title>
  <script src="/login.js"></script>
  <link rel="stylesheet" type="text/css" media="(min-width: 768px)" href="/desktop.css">
  <link rel="stylesheet" type="text/css" media="(max-width: 768px)" href="/mobile.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="main">
    <div class="logo"></div>
    <div id="loginContainer">
      <div id="usernameField"> 
        <span>USERNAME:</span>
        <input id="usernameInput" type="text"/> 
      </div>
      <div id="passwordField"> 
        <span>PASSWORD:</span>
        <input id="passwordInput" type="password"/> 
      </div>
      <div id="authButtons">
        <button id="loginButton" class="btn"> Login </button>
        <button id="registerButton" class="btn"> Register </button>
      </div>
    </div>
  </div>
</body>
</html>